<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pharmahome.pharmahome">
    <!-- richiesta di autorizzazioni per la connessione a internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- richiesta di autorizzazione per ottenere le informazioni di rete -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- richiesta di autorizzazione per avviare scripts onDeviceBoot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- richiesta di autorizzazione per accedere alla fotocamera -->


    <!-- descrizione dell'app -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_pharmhome"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
            attivita' principale
            gestione della home page
            ricerca
            visualizzazione dettagliata di un farmaco
         -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            attivita' per la gestione dell'inserimento di un nuovo farmaco
            composto da:
                -richiesta input per il codice a barre oppure il nome del farmaco
                -inserimento della data di scadenza
        -->
        <activity
            android:name=".InsertActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InsertActivity" />

        </activity>


        <!--
            receiver per la gestione delle notifiche
        -->
        <receiver
            android:name=".BroadcastManager"
            android:enabled="true"
            android:exported="true"
            android:label="ScadenzeManager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="ScadenzeManager.NOTIFICA_INTENT_ACTION" />
                <action android:name="UpdateFarmaciService.UPDATE" />
                <action android:name="DEBUG_TEST" />
            </intent-filter>
        </receiver>

        <service
            android:name=".UI.NotificatoreScadenzeService"
            android:enabled="true" />
        <service
            android:name=".UI.UpdateFarmaciService"
            android:enabled="true" />
    </application>

</manifest>
